/*#1A6BA0 */

/*LAYOUT*/

.headerBar {
  z-index: 2;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 57px;
  opacity: 0.75;
}

.moreInfoBar {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 57px;
  background-color: white;
  opacity: 0.75;
  max-height: 0;
  overflow: hidden;

  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.headerText {
  z-index: 3;
  position: fixed;
  left: 30px;
}

.headerAbout {
  position: fixed;
  left: 255px;
  z-index: 3;
  top: 10px;
  cursor: pointer;
}

.pictureContainer {
  z-index: -1;
  height: 100vh;
  width: 100vw;

  background-image: url('../img/mistakeBacon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pun {
  position: absolute;

  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;

  background-color: white;
  opacity: 0.66;
  padding-bottom: 7px;
}

/*Spinner*/
.pictureContainer i {
  z-index: 3;
  display: none;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
}

.generateButton {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Lato', sans-seif;
  color: #ffffff;
  font-size: 20px;
  background: #fb551c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;

  position: absolute;
  right: calc(0vw + 60px);
  top: 8px;

  z-index: 3;
}

.generateButton:hover {
  background: #ffffff;
  color: #fb551c;
  text-decoration: none;
  border-color: #fb551c;
  border-width: 1px;
  border-style: solid;
}

.moreInfo {
  text-align: justify;
  padding-left: 30px;
  padding-bottom: 10px;
}

.headerAbout i {
  transition: transform 0.5s;
}

.credit {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

/*TYPOGRAPHY*/

.headerText {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #fb551c;
  text-decoration: none;
}

.instruction {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.credit {
  font-family: 'Lato', sans-serif;
  font-size: .1em;
  line-height: 1em;
}

#copy {
    margin-left: 5px;
}

#ccAttrib {
    margin-left: 5px;
}

.pun {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: bold;

  /*color: #FDFDFD;*/
  color: #444;

  /*font stroke*/
  /*-webkit-text-stroke: .75px #444;
  text-shadow:
  -0.75px -0.75px 0 #fff,
  0.75px -0.75px 0 #fff,
  -0.75px  0.75px 0 #fff,
  0.75px  0.75px 0 #fff;*/
}

.headerAbout {
  font-family: 'Lato', sans-serif;
  color: #444;
  font-size: 2em;
  text-decoration: none;
}

.headerAbout:hover {
  /*Safari was giving me trouble with turning my link blue*/
  -webkit-tap-highlight-color: #fb551c;
  color:#fb551c;
  text-decoration: none;
}
