/*LAYOUT*/
.headerBar {
  z-index: 2;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 57px;
  opacity: 0.75;
}

.headerText {
  z-index: 3;
  position: fixed;
  left: 30px;
}

.headerAbout {
  position: fixed;
  left: 250px;
  z-index: 3;
  top: 10px;
}

.pictureContainer {
  z-index: 1;
  height: 100vh;
  width: 100vw;

  background-image: url('../img/mistakeBacon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pun {
  z-index: 3;
  position: absolute;
  left: 35px;
  top: calc(50% - 35px);
  color: #444;
  opacity: 0.5;
}

.pictureContainer i {
  display: none;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
}

.generateButton {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Lato', sans-seif;
  color: #ffffff;
  font-size: 20px;
  background: #fb551c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  position: absolute;
  left: calc(50% - 62.5px);
  top: 80%;

  z-index: 3;
}

.generateButton:hover {
  background: #ffffff;
  color: #fb551c;
  text-decoration: none;
  border-color: #fb551c;
  border-width: 1px;
  border-style: solid;
}

/*TYPOGRAPHY*/
.headerText {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #fb551c;
  text-decoration: none;
}

.bottomInfo p,a,i {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 5em;
}

.headerAbout {
  font-family: 'Lato', sans-serif;
  color: #444;
  font-size: 2em;
  text-decoration: none;
}

.headerAbout:hover {
  color:#fb551c;
}
